@import "./_vars";

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: {
        bottom: 15px;
    }
}

h1 {
    display: inline-block;
    width: 100%;
}

.heading-anchor {
    color: black;

    text: {
        decoration: none;
    }

    @for $i from 1 through 6 {
        h#{$i}::after {
            content: "§";

            margin: {
                left: 0.5em;
            }

            visibility: hidden;
        }

        h#{$i}:hover::after {
            color: $theme-ternary-bgcolor;
            visibility: visible;
        }
    }
}
