@import "./_vars";

ol,
ul {
    &:not(.block-list, nav ul, .social) {
        margin: 1em;
    }
}

li {
    &:not(:last-child) {
        margin-bottom: 0.5em;
    }
}

ul {
    &:not(.block-list, nav ul, .social) {
        margin-left: 0.5em;

        li {
            list: {
                style: {
                    type: "\2013";
                }
            }

            padding: {
                left: 0.5em;
            }

            &::marker {
                color: $theme-primary-bgcolor;

                font: {
                    weight: 900;
                }
            }
        }
    }
}
