@import "./_vars";

nav {
    display: flex;
    flex-grow: 1;
    font-family: "Roboto", sans-serif;
    min-width: calc(100% - 36px);


    a {
        color: $theme-inverse-primary-color;
        text-decoration: none;
    }

    ul {
        align-items: stretch;
        display: flex;
        flex-grow: 1;
        gap: 1.5em;
        justify-content: center;
        padding: 0;

        a {
            display: flex;
            align-items: center;

            &:hover {
                border-bottom: 2px solid $theme-inverse-bgcolor;
                margin-bottom: -2px;
            }
        }

        li {
            text-align: center;
        }
    }
}