@import "./_vars";

.tag {
    border: {
        color: $theme-primary-bgcolor;
        radius: 0.25em;
        style: solid;
        width: 1px;
    }
    display: inline-block;
    font-size: 0.75em;
    margin: 0 0.2em;
    padding: 0.25em 0.5em;
    text-align: center;
    text-decoration: none;
    vertical-align: 0.1em;

    &:hover {
        background-color: $theme-primary-color;
    }
}
