@import "./_container";
@import "./_links";
@import "./_nav";
@import "./_social";
@import "https://fonts.googleapis.com/css2?family=Material+Icons";

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: $theme-primary-bgcolor;
    display: flex;
    height: 5vh;
    min-height: 2em;
    width: 100vw;

    ul {
        list-style: none;
    }
}

main {
    flex-grow: 1;
}

section {
    &:not(:last-child) {
        margin-bottom: 5vh;
    }

    h1 {
        font-size: 2em;
    }
}

footer {
    height: 2.5vh;
}

h1 {
    display: inline-block;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    // Paragraph spacing
    margin-bottom: 15px;
}
